.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;

    .top {
      h1 {
        padding: 10px;
        font-size: 32px;
        color: rgb(240, 160, 56);
        width: 90%;
        margin: 0 auto;
      }
    }

    .bottom {
      width: 90%;
      margin: 0 auto;
      .content {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr;
        gap: 15px 15px;

        @media (max-width: 850px) {
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }

        @media (max-width: 650px) {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(4, 1fr);
        }

        @media (max-width: 450px) {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(10, 1fr);
        }
      }

      .box-form {
        width: 100%;
      }

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
        align-content: center;
      }

      .title {
        font-size: 20px;
        color: gray;
        padding: 10px;
      }

      .editButton {
        position: relative;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        right: 0;
        font-size: 18px;
        color: gray;
        background-color: rgb(240, 160, 56);
        cursor: pointer;
        border-radius: 0px 0px 0px 5px;
      }

      .section {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        width: 75%;
        padding: 5px;
        margin: 20px;
        display: table-column;

        .formInput {
          width: 40%;

          label {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid gray;
          }
        }
      }
    }
  }
}
